.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
